*{
  margin: 0;
  padding: 0;
}
html,
body{
  background-color:#FCFEFB;
  color: #272E32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}
.form{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#logInGoogle{
 
}